.map {
  background-color: #d2cbc5;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-opacity: .3;
  stroke-width: .5px;
}

.land {
  fill: #f4f1ed;
}

.boundary {
  fill: none;
  stroke: #c0b8ae;
  stroke-width: .5px;
}

.route {
  fill: none;
  /*stroke-dasharray: 3,2;*/
  stroke: #f44;
}

